<tabs-original-cmp @tabs-active="getTabsActive" inline-template>
    <div class="t-tabs-original">
        <ul class="t-tabs-original__list">
            {% for item in tabs %}
                {% if item.modification %}
                    <li class="t-tabs-original__item" 
                        :class="{'t-tabs-original__item-active': {{ loop.index }} == activeItemId}" 
                        @click="onActiveTabs('{{ loop.index }}')" 
                    >
                        <span>{{item.modification}}</span>
                    </li>
                {% endif %}
                {% if item.name %}
                    <li class="t-tabs-original__item" 
                        :class="{'t-tabs-original__item-active': {{ loop.index - 1 }} == activeItemId}" 
                        @click="onActiveTabs('{{ loop.index - 1 }}')" 
                    >
                        <span>{{item.name}}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</tabs-original-cmp>
